.CartContainer {
  gap: 2rem;
}

.cartitem-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cartitem-price {
  padding: -1;
}

.btn-container {
  display: flex;
  gap: 1rem;
}
.cartitem-qty-btn {
  background-color: #7e66f9;
}
