.LoginBtn {
  background-color: #7e66f9;
}

.submitBtn {
  background-color: #7e66f9;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.name-logout-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username {
  width: 7rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
